ml/data/data.db
ml/configs/
!ml/configs/.gitkeep
ml/data/raw_images/
!ml/data/raw_images/.gitkeep
ml/data/raw_pdfs/
!ml/data/raw_pdfs/.gitkeep
ml/models/versions/best_model/
!ml/models/versions/best_model/.gitkeep
ml/models/versions/final_model/
!ml/models/versions/final_model/.gitkeep
ml/data/coco/
!ml/data/coco/.gitkeep
.venv/
*Zone.Identifier
*__pycache__*
archive/
